//-- COLORS
$orange:    #F94722;
$red:       #f63251;
$darkRed:   #d72a45;
$pink:      #fa9dac;
$yellow:    #EAD94C;
$black:     #020202;
$footBlack: #1D1D1D;
$white:     #FDF9FD;
$gray:      #f2f1f1;
$lightGray: #f7f7f7;
$darkGray:  #9e9e9e;
$grey:      #838383;

//-- FONT
$source: 'Source Sans Pro', sans-serif;
$dosis: 'Dosis', sans-serif;
$jose: 'Josefin Sans', sans-serif;
