@import 'base';

a:link {
  text-decoration: none;
}

.navbar {
  // visibility: hidden;
  transition: ease-in-out .2s;
  background-color: #d72a45;
}

.logo {
  vertical-align: top;
}

.fixed-logo {
  font-family: $jose;
  font-weight: 600;
  font-size: 20px;
  color: $black;
}

.fixed-logo:hover {
  color: $black;
}

.fixed-grill {
  color: $white;
}

.nav-links {
  font-family: $jose;
  font-size: 16px;
  margin-left: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $white;
  text-align: right;
  transition: ease-in-out .3s;
}

.nav-links:hover {
  color: $lightGray;
}

.hook-container {
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url('../images/interior.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.hook-div {
  text-align: center;
  margin-top: 45px;

  .hook {
    font-family: $jose;
    font-weight: 700;
    color: $red;
  }

  .grill {
    color: $white;
  }

  .fusionyaki {
    font-family: $jose;
    letter-spacing: 5px;
    color: $white;
    margin-bottom: 50px;
  }

  .neon {
    font-family: $dosis;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #f63251,
      0 0 80px #f63251,
      0 0 90px #f63251,
      0 0 100px #f63251,
      0 0 150px #f63251;
  }

  .neon-hook {
    font-family: $dosis;
    font-size: 34px;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #f63251,
      0 0 80px #f63251,
      0 0 90px #f63251,
      0 0 100px #f63251,
      0 0 150px #f63251;
    margin-top: 15px;
  }
}

.hooklinks-div {
  text-align: center;
  margin-top: 50px;

  .links {
    font-family: $jose;
    font-weight: 400;
    letter-spacing: 2px;
    color: $white;
    transition: ease-in-out .2s;
  }

  .links:hover {
    color: $red;
  }
}

#about-container {
  margin-top: 100px;

  .image-container {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .image-container::before {
    position: absolute;
    z-index: -1;
    background-color: $gray;
    content: '';
  }

  .owners-image {
    z-index: 100;
  }

  #about {
    font-family: $source;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .about {
    font-family: $source;
  }
}

#gallery-container {
  text-align: center;
  background-color: $red;

  .gallery {
    font-family: $source;
    font-weight: 700;
    letter-spacing: 20px;
  }

  .carousel-img {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-control {
    color: $black;
  }
}

#menu-container {
  .menu-col {
    text-align: center;
    z-index: 1000;
  }

  .menu-label {
    font-family: $source;
    font-weight: 700;
    letter-spacing: 2px;
    color: $red;
  }

  .menu-description {
    font-family: $source;
    margin-bottom: 75px;
  }

  .btn {
    background-color: $red;
    font-family: $source;
    font-weight: 600;
    color: $white;
    transition: ease-in-out .2s;
  }

  .btn:hover {
    background-color: $darkRed;
    color: $white;
    cursor: pointer;
  }
}

#contact-container {
  width: 100%;
  background-color: $lightGray;
  text-align: center;
  z-index: -100;

  .contact-title {
    font-family: $source;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 50px;
  }

  .contact-label {
    font-family: $source;
    font-size: 18px;
    font-weight: 700;
  }

  .contact-description {
    font-weight: 400;
  }

  #map {
    height: 450px;
    width: 100%;
    margin-top: 50px;
  }

  .social-label {
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
  }

  .social-links {
    font-size: 22px;
    color: $black !important;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    transition: all .2s ease-in-out;
  }

  .social-links:hover {
    color: $red !important;
  }

  .catering {
    margin-top: 50px;
  }
}

.creator-container {
  width: 100%;
  background-color: $black;
  text-align: center;

  .creator {
    font-family: $source;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $white;
    margin-top: 15px;
  }

  .josh {
    color: $darkGray;
    transition: all .2s ease-in-out;
  }

  .josh:hover {
    color: $red;
  }
}

@media (max-width: 628px) {
  .navbar {
    display: none;
  }

  .logo {
    width: 55px;
    height: 55px;
  }

  .hook-container {
    height: 500px;
  }

  .hook-logo {
    height: 50px;
    width: 50px;
  }

  .hook {
    font-size: 32px;
    margin-bottom: -7px;
  }

  .fusionyaki {
    font-size: 18px;
  }

  .neon {
    font-size: 24px;
    margin-bottom: 100px;
  }

  .links {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 5px;
  }

  .image-container::before {
    top: -10%;
    left: 14%;
    width: 85%;
    height: 100%;
  }

  .owners-image {
    width: 85%;
  }

  #about-container {
    text-align: center;
  }

  #about {
    font-size: 34px;
    margin-top: 25px;
  }

  .about {
    font-size: 18px;
  }

  #gallery-container {
    margin-top: 50px;
  }

  .gallery {
    font-size: 42px;
    margin-top: -34px;
  }

  .carousel-img {
    width: 70%;
  }

  #menu-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .menu-label {
    font-size: 34px;
  }

  .menu-description {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
  }

  .contact-title {
    font-size: 34px;
  }
}

@media (min-width: 629px) {
  .hook-logo {
    height: 85px;
    width: 85px;
  }

  .hook-container {
    height: 650px;
  }

  .hook {
    font-size: 74px;
    margin-bottom: -25px;
  }

  .fusionyaki {
    font-size: 24px;
  }

  .neon {
    font-size: 32px;
    margin-bottom: 90px;
  }

  .links {
    font-size: 20px;
    margin-left: 70px;
    margin-right: 50px;
  }

  .image-container::before {
    top: -10%;
    left: 8%;
    width: 100%;
    height: 100%;
  }

  .owners-image {
    width: 100%;
  }

  #about {
    font-size: 32px;
  }

  .about {
    font-size: 18px;
  }

  #gallery-container {
    margin-top: 100px;
  }

  .gallery {
    font-size: 75px;
    margin-top: -58px;
  }

  .carousel-img {
    width: 75%;
  }

  .menu-label {
    font-size: 32px;
    margin-top: 50px;
  }

  .menu-description {
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .contact-title {
    font-size: 32px;
  }
}

@media (min-width: 821px) {
  .logo {
    width: 50px;
    height: 50px;
    vertical-align: top;
  }

  .hook-container {
    height: 650px;
  }

  .hook-logo {
    height: 100px;
    width: 100px;
  }

  .hook {
    font-size: 86px;
    margin-bottom: -25px;
  }

  .fusionyaki {
    font-size: 28px;
  }

  .neon {
    font-size: 36px;
    margin-bottom: 90px;
  }

  .links {
    font-size: 18px;
    margin-left: 100px;
    margin-right: 60px;
  }

  .image-container::before {
    top: -10%;
    left: 8%;
    width: 100%;
    height: 100%;
  }

  .owners-image {
    width: 100%;
  }

  #about {
    font-size: 42px;
  }

  .about {
    font-size: 24px;
  }

  #gallery-container {
    margin-top: 100px;
  }

  .gallery {
    font-size: 90px;
    margin-top: -70px;
  }

  .carousel-img {
    width: 55%;
  }

  #menu-container {
    margin-top: 50px;
    margin-bottom: 50px
  }

  .menu-label {
    font-size: 42px;
  }

  .menu-description {
    font-size: 24px;
  }

  .btn {
    font-size: 24px;
  }

  .contact-title {
    font-size: 42px;
  }

  #map {
    height: 350px;
    margin-bottom: 50px;
  }
}
