@import 'base';

@media(max-width: 667px) {
  .nav-container {  
    width: 100%;    

    .nav {
      text-align: center;  
      display: flex;
      justify-content: space-around;
      padding-bottom: 15px;
    }

    .nav-links,
    .nav-logo {
      color: $black;
      text-decoration: none;
    }
    .nav-links {
      display: none;
      font-size: $navLink;
      font-weight: $normal;
      margin-top: 25px;       
    }

    .nav-links:hover {
      color: $gray;
      transition: all 0.2s ease;
    }

    .nav-logo {
      color: $red;
      font-size: $logo;
      font-weight: $fat;
      margin-top: 20px;
    }
  }

  .fold-container {
    background-color: $lightGray;
    height: 600px;
    width: 100%;  
  }

  .content-container {  
    width: 100%;
    margin-top: 30px;

    .content-box {
      width: 100%;
      height: 300px;
      background-color: $red;
      margin-bottom: 20px;
    }
  }

  .footer {
    margin-top: 30px;
    margin-bottom: 100px;

    .social {
      display: flex;
      justify-content: space-around;
    }

    .social-icons {
      color: black;
      width: 70px;
      height: 70px;
      text-align: center;
      vertical-align: middle;
      font-size: $logo;            
      border-radius: 50%;
      padding: 23px;
    }

    .fa-twitter {
      background-color: $twitBlue;
      color: $white;
    }

    .fa-twitter:hover {
      background-color: $twitHov;
    }    

    .fa-facebook {
      background-color: $fbBlue;
      color: $white;
    }

    .fa-facebook:hover {
      background-color: $fbHov;
    }

    .fa-instagram {
      background-color: $instaG;
      color: $white;
    }

    .fa-instagram:hover {
      background-color: $instaHov;
    }

    .fa-yelp {
      background-color: $yelpRed;
      color: $white;
    }

    .fa-yelp:hover {
      background-color: $yelpHov;
    }
  }
}

@media(min-width: 668px) {
  .nav-container {  
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);     

    .nav {
      text-align: center;  
      display: flex;
      justify-content: space-around;
      padding-bottom: 15px;
    }

    .nav-links,
    .nav-logo {
      color: $black;
      text-decoration: none;
    }
    .nav-links {
      font-size: $navLink;
      font-weight: $thin;
      margin-top: 30px; 
    }

    .nav-links:hover {
      color: $red;
      transition: all 0.2s ease;
    }

    .nav-logo {
      color: $red;
      font-size: $logo;
      font-weight: $fat;
      margin-top: 20px;
    }
  }

  .fold-container {
    background-color: $lightGray;
    height: 600px;
    width: 100%;
    text-align: center;

    .opening-soon {
      font-size: $hookSize;
      font-weight: $fat;
      text-shadow: -2px 2px $red;
      margin-top: $hookMar;      
    }

    .stay-tuned {
      font-size: $label;
      font-weight: $thin;
      margin-top: $thirty;      
    }

    #scroll {
      font-size: $header;
      margin-top: $hookMar;
    }

    #scroll:hover {
      color: $gray;
      cursor: pointer;
    }
  }

  #content-container {
    width: 100%;
    margin-top: $thirty;

    .content-box {
      // width: 100%;
      max-width: 550px;
      height: 300px;  
      background-color: $red;
      margin-bottom: 20px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .mailing-container {
    width: 100%;
    height: 300px;
    background-color: $lightGray;
    text-align: center;
    margin-top: $fifteen;    

    .join-us {      
      font-weight: $fat;
      letter-spacing: 1px;
      margin-top: $content;
    }

    .deal {
      font-weight: $thin;
      letter-spacing: 1px;
    }

    .input-group {
      margin-top: $forty;
      margin-left: auto;
      margin-right: auto;      
    }

    .email {
      height: 50px;
      width: 450px;
      color: $black;
      font-weight: $thin;      
      letter-spacing: 1px;
      padding-left: $ten;
    }

    .join-btn {
      height: 50px;
      width: 115px;
      background-color: $red;
      color: $white;
      font-size: $label;
      letter-spacing: 2px;
      margin-left: $five;
      border: none;
    }

    .join-btn:hover {
      background-color: $pink;
    }
  }

  .social-container {
    text-align: center;
    margin-top: $fifty;

    .follow-us {
      font-size: $connected;
      font-weight: $thin;
      letter-spacing: 1px;
    }  

    .social {
      display: flex;
      justify-content: space-around;
      margin-top: $forty;
    }

    .social-icons {
      color: black;
      width: 70px;
      height: 70px;
      text-align: center;
      vertical-align: middle;
      font-size: $logo;            
      border-radius: 50%;
      padding: 21px;
    }

    .fa-twitter {
      background-color: $twitBlue;
      color: $white;
    }

    .fa-twitter:hover {
      background-color: $twitHov;
    }    

    .fa-facebook {
      background-color: $fbBlue;
      color: $white;
    }

    .fa-facebook:hover {
      background-color: $fbHov;
    }

    .fa-instagram {
      background-color: $instaG;
      color: $white;
    }

    .fa-instagram:hover {
      background-color: $instaHov;
    }

    .fa-yelp {
      background-color: $yelpRed;
      color: $white;
    }

    .fa-yelp:hover {
      background-color: $yelpHov;
    }
  }

  .map-container {
    width: 100%;
    height: 300px;
    background-color: $lightGray;
    text-align: center;
    margin-top: $content;  

    #map {
      width: 50%;
      height: 300px;
      display: inline-block;
      background-color: #CCC;
    }

    .location {
      width: 50%;
      height: auto;
      display: inline-block;      
      vertical-align: top;
    }

    .our-location,
    .our-hours {
      color: $red;
      font-size: $logo;
      font-weight: $fat;
      letter-spacing: 1px;
      margin-top: $fifty;   
    }

    .days {
      font-weight: $chubby;    
    }

    .sunday {
      margin-right: 20px;
    }

    .address,
    .hours {
      font-size: $paragraph;
      font-weight: $thin;      
    }
  }

  .footer {
    width: 100%;
    height: 100px;
    background-color: $footBlack;   
  }
}