doctype html
html(lang="en-us")
  head
    title KooKoo Grill
    meta(http-equiv="X-US-Compatible" content="IE=Edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- JQUERY
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    //- BOOTSTRAP
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    //-- FONT AWESOME
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    //-- GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,900' rel='stylesheet' type='text/css')
    //- CSS
    link(rel="stylesheet" href="public/css/default.css")
  body
    div.container.nav-container
      div.row
        div.col-md-12
          nav.nav
            a(href="#" class="nav-links") MENU
            a(href="#" class="nav-links") ABOUT US
            a(href="#" class="nav-logo") KOOKOO GRILL
            a(href="#" class="nav-links") LOCATIONS
            a(href="#" class="nav-links") OUR TEAM
    div.container.fold-container
      div.row
        div.col-md-10.col-md-offset-1  
    div.container.content-container
      div.row
        div.col-md-4
          div.content-box
        div.col-md-4
          div.content-box
        div.col-md-4
          div.content-box
    div.container.mailing-container
      div.row
        div.col-md-10.col-md-offset-1
          h2.join-us JOIN OUR MAILING LIST
          p.deal OUR LATEST NEWS, DEALS, EVENTS, SENT DIRECTLY TO YOU
          div.input-group
            input(type="email" class="email" placeholder="Enter your email address")
            button(type="button" class="join-btn") JOIN →          
    div.container.social-container
      div.row
        div.col-sm-6.col-sm-offset-3
          h3.follow-us WE'D LOVE TO STAY CONNECTED:
          div.social
            a(href="https://twitter.com/kookoogrill" target="_blank")
              i(class="fa fa-twitter social-icons" aria-hidden="true")
            a(href="https://www.facebook.com/KooKooGrill/" target="_blank")                
              i(class="fa fa-facebook social-icons" aria-hidden="true")
            a(href="https://www.instagram.com/kookoogrill/" target="_blank")
              i(class="fa fa-instagram social-icons" aria-hidden="true")
            a(href="http://www.yelp.com/biz/kookoo-grill-teriyaki-bellflower" target="_blank")
              i(class="fa fa-yelp social-icons" aria-hidden="true")
    footer.container.footer
      div.row
    script(src="public/js/main.js")

