doctype html
html(lang="en-us")
  head
    title Our Team | KooKoo Grill
    meta(http-equiv="X-US-Compatible" content="IE=Edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- JQUERY
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    //- BOOTSTRAP
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    //-- FONT AWESOME
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    //- GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,700' rel='stylesheet' type='text/css')
    //- CSS
    link(href="public/css/default.css" rel="stylesheet" type="text/css")
  body
    div.container.nav-container
      div.row
        div.col-md-12
          nav.nav
            a(href="/" class="nav-links") HOME
            a(href="/menu" class="nav-links") MENU
            a(href="#" class="nav-logo") KOOKOO GRILL
            a(href="#" id="location" class="nav-links") FIND US
            a(href="/about" class="nav-links") ABOUT
